{% extends 'layout.html' %}

{% block content %}

<h1>Episódios</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de Lançamento</th>
                <th scope="col">Episódio</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
            <tr>
                <td>{{ episode.name }}</td>
                <td>{{ episode.air_date }}</td>
                <td>
                <a href="/episode/{{ episode.id }}">
                    <button type="button" class="btn btn-success btn-sm">Detalhes</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}