{% extends 'layout.html' %}


{% block content %}
<h1 >Detalhes da Localização</h1>
<div class="row">
  <div class="col-md-6">
    <h3 style="font-size: 24px; color: #059429a3;">Detalhes da Localização</h3>
    <ul class="list-unstyled" style="font-size: 18px; color: #15a0e0a3; font-weight: bold;">
      <li><strong>Nome:</strong> {{ location.name }}</li>
      <li><strong>Tipo:</strong> {{ location.type }}</li>
      <li><strong>Dimensão:</strong> {{ location.dimension }}</li>
      <li><strong>Personagens:</strong></li>
    </ul>
  </div>
</div>

<div class="row">
  {% for character in characters %}
  <div class="col-md-3 mb-3">  
    <div class="card">
      <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <a href="/profile/{{ character.id }}" class="btn btn-success btn-sm">Ver perfil</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
