{% extends 'layout.html' %}

{% block content%} 
<div class="row">
    <div class="col-sm-3 col-6">
        <img src="{{ profile.image }}" alt="{{ profile.name }}" class="img-fluid img-thumbnail">                               
        <h3 class="h5">{{ profile.name }}</h3>
        <p class="mb-2 ">Status: {{ profile.status }}</p>
        <p class="mb-2 ">Espécie: {{ profile.species }}</p>
        <p class="mb-2 ">Gênero: {{ profile.gender }}</p>
        <p class="mb-2 ">Origem:
            <a href="/location/{{ profile.origin.url.split('/')[-1] }}">{{ profile.origin.name }}</a>
        </p>
        
        <p class="mb-2 ">Localização:
            <a href="/location/{{ profile.location.url.split('/')[-1] }}">{{ profile.location.name }}</a>
        </p>

        <hr>
        <h4 class="mb-2 ">Episódios</h4>
        <ul>
            {% for episode in profile.episode %}
                <li><a href="/episode/{{ episode.split('/')[-1] }}">{{ episode }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
